*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

html,body{
    font-family: Montserrat;
    height: 100%;
}

h1{
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02rem;
}
/* 
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
} */

.parrafos{
    color: #fff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#frase{
    display: flex;
    justify-content: space-around;
}

#frase span{
    opacity: 0;
    transform: translateX(100px
    );
}

.fraseBienvenida{
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
}

.fraseBienvenida span{
    background: linear-gradient(140deg,#E77A66,#C62672
,#4185F4
);
  -webkit-background-clip: text;
  color: transparent;  

}
.logo{
    position: fixed;
    top: 0; 
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
    background: #000;
    border-radius: 100%;
    z-index: 10000;
}

.header{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 100%;
    z-index: 2;

}

.letters{
    flex: 1;
    display: flex;
    text-transform: uppercase;


}

.letters > div{
    flex: 1; 
    font-size: 13vw;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.website-content{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
}

.img-holder{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
    transform: rotate(30deg);
}

.img-holder img{
    position: relative;
    transform: scale(2);
}

.content-holder{
    position: relative;
    top: -5px; 
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
}

.row{
    margin: 2em 1em;
}

.img{
    width: 200px;
    height: 275px;
}

.row:nth-child(2) .img{
    position: relative;
    left: 50%;
}

.row:nth-child(3) .img{
    position: relative;
    left: 15%;
}

.row:nth-child(4) .img{
    position: relative;
    left: 70%;
}

.row:nth-child(6) p{
    position: relative;
    left:30%; 
    margin: 4em 0; 
}

/* ======Contenido Desplazable======= */
section{
    height: 80vh;
    display: flex;
    justify-content: center;
    /* scroll-snap-align: start; */
    padding: 0 8rem;
}

.one{
    background-color: rgb(36,164,138,);
    margin-top: 2em;
    height: 50vh !important;

}.two{
    background-color: rgb(0, 0, 0);
    justify-content: left;
    top: 0;
    left: 0;
    width: 100%;
}
.three{
    background-color: rgb(255, 255, 255);
    padding: 0 !important;
    width: 100%;
        height: 60vh;
        padding: 0 8rem;
}
.four{
    background-color: rgb(164, 36, 74);
}
.five{
    background-color: rgb(138, 36, 164);
} 

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


/* =====section 1====== */

.contenedorPadre{
    display: flex;
}

.tituloBienvenida{
    flex-direction: row;
    width: 70%;
    display: flex;
    color: #fff;
}

.tituloBienvenida p{
    margin-top: 1.2rem;
    width: 70%;
}

#parrafoEscritura{
    margin-top: 2rem;
}

.botonScroll{
    margin-top: 2rem;
}
.focoInicio{
    display: flex;
    width: 30%; 
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
    background: rgba(255, 254, 254, 0.2);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 3.2rem;

}
.focoInicio img{
    padding: 1em;
    width:100%;
    height: auto;
}


.marcas-bienvenida{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}


/* ======Seccion 2====== */



.contenedor-imagen{
    width: 100%;
}

.frase-autor{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 4rem;
}

.frase-marketeros{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frase-autor h1{
    font-size: 1.5rem;
    color: #000;
}

/* ======Seccion 3====== */

.contenedorPadre3{
    display: flex;
    height: 100%;
    margin-top: 3rem;
}
.fraseSeguros{
    width: 50%;
    padding: 2rem;
    height: 100%;
    background-color: #000000;
}
