@media only screen and (max-width: 600px) {

.menu-around-the-lab{
    width: 1000%;
    padding: 0;
}

.aumenta-two{
    flex-direction: column;
}

.imagen-metodologia{
    display: none;
}

.imagen-clientes{
    margin-top: 2vh;
    width: 100%;
}


.menu-aumenta-tus-ventas{
    width: 100%;
    padding: 2rem;
    margin-top: 0;
    margin-left: 0;
}

/* =======Seccion Tres======= */
.website-three{
    padding: 0;
    flex-direction: column;
}

.three-fraseizq{
    width: 100%;
    padding: 2rem;
}

.three-fraseder{
    width: 100%;
    padding: 2rem;
}

.three-a{
    margin-top: 0;
    padding: 2rem;
}

.three-frase3 h1{
    font-size: 1.2rem;

}
.section-space{
    padding: 2rem;
}

.propuesta-de-valor h1{
    font-size: 2.5rem;

}



.titulo-frase1 h1{
    font-size: 3rem;
}

.subtitulo-frase1 p{
    width: 90%;
    font-size: 1.5rem;
    text-align: left;
}

.texto-fase1-a{
    width:  100%;
}

.texto-fase1-a h1{
    font-size: 2rem !important;
}

.fase3-titulo{
    font-size: 2.4rem !important;
}

.texto-3 p{
    width: 100%;
}

.four-contenido p{
    width: 100% !important;
    text-align: center;
}

.texto2-3{
    font-size: 1.5rem !important;
}

.subtitulo-frase1 p{
    width: 100% !important;
    font-size: 1rem;
}

.container-seccion-marcas{
    flex-direction: column;
}

.row{
    width: 100%;
}


.li-propuesta{
    width: 100%;
}


/* =======Automatizado de Ventas====== */

.titulo-principal h1{
    margin-top: 5vh;
    font-size: 2.5rem;
    width: 100%;
}

.container-informacion{
    flex-direction: column;
    padding: 0;
}

.frase-around{
    width: 100%;
    border-right: none;
    border-bottom: 3px solid #000;
}

.frase-around p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.imagen-embudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-informacion-2{

    flex-direction: column;
}

.texto-herramientas{
    width: 100%;
}

.texto-herramientas p{
    font-size: 1.5rem;

}

.nurturing{
    width: 100%;
    margin-top: 4vh;
}

.nurturing p{
    font-size: 1.5rem;
}




/* =======CONTENT ESTRATEGY======= */

.website-container-content{
    padding: 2rem;
}

.informacion-content{
    width: 100%;
    flex-direction: column
}

.contenido-rey{
    width: 100%;
}

.menu-lista-informacion{
    width: 100%;
    padding: 0;
}

.menu-lista-informacion li{
    margin-left: 0;
    margin-top: 0;
}


.imagen-marca-content{
    flex-direction: column;
    padding: 0;

}


.imagen-marca-info{
    width: 100%;
    padding: 0;
    border-right: none;
    margin-top: 5vh;
}

.imagen-marca-info h1{
    font-size: 2rem;
}

.texto-error-4{
    width: 100%;
    flex-direction: column;
}

.texto-error{
    width: 100%;
}

.metodologia-around{
    width: 100%;
    padding: 2rem;
}

.metodologia-titulo{
    flex-direction: column  ;
}

.metologia-titulo-container h1{
    font-size: 2.2rem;
}

.metodologia-contenido{
    display: flex;
    flex-direction: column;
}

.contenedor-contenido-principal{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.contenido-izq{
    width: 100%;
   
}

.metodologia-imagen-container{
    display: flex;
    justify-content: center;

}

.contenido-der{
    padding: 2rem;
    width: 100%;
    margin-top: 5vh;
}

.portada-imagen img{
    height: 3   0vh;
}

.no-olvides-informacion{
    display: flex;
    flex-direction: column;
}

.no-olvides-columna-1{
    width: 100%;
}

.no-olvides-informacion{
    width: 100%;
}

.columna-2{
    width: 100%;
    padding: 2rem;
}

.columna-3{
    width: 100%;
    padding: 2rem;
}


/* =======Administración de REDES SOCIALES====== */

.titulo-principal-redes{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
}

.contenedor-preguntas-respuestas{
    flex-direction: column;

}

.pregunta{
    width: 100%;
}

.respuesta{
    width: 100%;
}

.contenedor-hoy{
    flex-direction: column;
}

.contenedor-hoy h1{
    width: 100%;
    font-size: 7rem;
}

.contenedor-hoy p{
    width: 100%;
    font-size: 1.5rem;  
}

.informacion-porcentaje h2{
    width: 100%;
}

.convertirnos-columna1{
    flex-direction: column;
}

.icono-estrella img{
    height: auto;
}

.titulo-convertirnos h1{
    font-size:  1.4rem;
    padding: 1rem;

}


.titulo-section{
    flex-direction: column;
}

.imagen-completa{
    width: 100%;
}

.titulos-contenedor{
    width:  100%;
    padding: 0;
    flex-direction: column;
}

.cubo-convertirnos{
    width: 100%;
    padding: 1rem;

}

.gestionar-redes{
    width: 100%;
}

.contenido-irresistible{
    width: 100%;
    flex-direction: column !important;
}

.convertirnos-irresistible{
    width: 100%;
}

.covertirnos-computadora{
    width: 100%;
}

.convertirnos-row2{
    padding: 0;
}

.contenedor-estrella-titulo{
    flex-direction: row !important;
}

/* ==========INFLUENCERS===========L */

.website-container-influencers{
    padding: 0 2rem;
}

.container-titulo-influencers h1{
    font-size: 2.5rem;
    padding: 2rem;
    font-family: var(--font-familiy-primary);
}

.frase-container-titulo p{
    font-size: 1.5rem;
    font-family: var(--font-familiy-primary);
    text-align: center;   
    width: 100%;

}

.frase-grandes-influencers{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    border-bottom: 2px solid #000;
    padding-bottom: 2rem;
}

.frase-principal-influencers{
    width: 100%;
}

.texto-principal-influencers{
    width: 100%;

}

.segmentacion-influencers{
    flex-direction: column ;
}

.texto-segmentacion{
    width: 100%;
    font-size: 1.5rem;
}

.listado{
    width: 100%;
    padding: 2rem;
}


.porcentajes-influencers{
    flex-direction: column;
}

.porcentajes-influencers div{
    width: 100%;
}

.consumidores-porcentajes{
    flex-direction: column;
}

.consumidores-porcentajes div{
    width: 100%;
}

.ugc-contenedor{
    flex-direction: column;
}

.ugc-titulo{
    width: 100%;
}

.info-ugc{
    width: 100%;
    padding: 0;
}


.titulo-hacerlo-increible h1{
    font-size: 2.5rem;
}

/* =========Desarrollo de Sitios Web========== */

.website-container-desarrollo{
    padding: 2rem;
}

.titulo-desarrollo{
    padding: 0;
    margin-bottom: 2rem;
}

.informacion-portada-desarrollo p{
    width: 100%;
}


.informacion-mundo-digital{
    flex-direction: column; 
}

.titulo-mundo-digital{
    width: 100%;
}

.informacion-mundo-digital-texto{
    width: 100%;
}


.desarrollo-computadora{
    flex-direction: column;
}
.titulo-computadora-desarrollo{
    width: 100%;
}

.desarrollo-computadora-imagen{
    width: 100%;
}

.contenedor-palabras {
    flex-direction: column;
}

.contenedor-palabras h2{
    text-align: center;
}

.contenedor-palabras img{
    width: 20%;
    margin-top: 2rem;
}

.que-ofrecemos{
    flex-direction: column;
}

.titulo-ofrecemos{
    width: 100% !important;
    margin-top: 2rem;
}

.lista-que-ofrecemos{
    width: 100% !important;
}

.columna-porque-around{
    flex-direction: column;
    width: 100%;
}

.columna-porque-around div{ 
    width: 100%;
}

.frase-construyamos h1{ 
    text-align: center;
    font-size: 2rem;
    width: 100%;
}

.frase-construyamos h2{
    width: 100%;
    text-align: center;
}

/* =======Porque-que-elegirnos======= */

.titulo-porque-elegirnos{
    flex-direction: column;
}

.titulo-porque-elegirnos div{
    width: 100%;
}

.titulo-porque-elegirnos h1{
    font-size: 2.5rem;
}

.titulo-porque-elegirnos img{
    width: 20%;
}


.en-around{
    width: 100%;
}

.marcas-section{
    flex-direction: column;
}

.marcas-section div{
    width: 40%;
}

.credenciales-section{
    width: 100%;
}

.credenciales-section h1{
    font-size: 2.5rem;
}

.fotos-credenciales{
    flex-direction: column;
}

.generar-container{
    width: 100%;
}

.titulo-como-lo{
    width: 100% !important;
    font-size: 1.8rem !important;
}


.creamos-embudos{
    display: flex;
    flex-direction: column ;
}


.creamos-embudos-titulo{
    flex-direction: column;
}

.creamos-embudos-titulo div{
    width: 100%;
}

.contenedor-casos-de-exito{
    flex-direction: column;
}

.logo-contenedor{
    width: 100% !important;
}

.informacion-casos-de-exito{
    width: 100% !important;
}

.informacion-casos-de-exito p{
    font-size: 1.5rem !important;
}

.informacion-casos-de-exito span{
    font-size: 2rem;
}



}


