@media only screen and (max-width: 600px) {
    
    /* =======Seccion Header======= */

    .letters{ 
        font-size: 3vw;
    }



    /* ========New Home=========== */

    .version2-1{
        padding: 1rem;
    }

    .titulos-version2-1 h1{
        font-size: 5rem !important;
    }

    .titulos-version2-1 h2{
        font-size: 2.5rem !important;
    }

    .version2-1-creadores{
        flex-direction: column;
    }

    .ciclo-embudo-version2-1{
        flex-direction: column;
    }

    .ciclo-embudo-version2-1 div{
        width: 100%;
        margin-top: 5vh;
    }


    /* ========CICLO EMBUDO SECTION============ */

    .ciclo-embudo-section{
        padding: 0;
        flex-direction: column;
    }

    .columna-1-ciclo-section{
        width: 100% !important;
    }


    .ciclo-embudo-textos{
        width: 100% !important;
    }

    .columna-procesos{
        flex-direction: column;
        width: 100%;
    }

    .procesos-textos{
        padding: 1rem;
    }
    .izq-procesos{
        width:  100%;
    }

    .der-procesos{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .numeros-procesos{
        display: none;
    }
    .nunca-has-visto{
        padding: 1rem;
        flex-direction: column;
    }

    .nunca-has-visto div{
        width: 100%;
    }

    .nunca-has-visto h1{
        font-size: 3rem;
    }


    .no-tienes-pagar h1{
        padding: 2rem;
        font-size: 1.5rem;
    }


    .proceso-lista{
        padding: 2rem;
    }

    .proceso-lista-1 p{
        width: 100%;
    }

    .conjunto-de-estrellas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .conjunto-de-estrellas i{
        color: yellow;
    }
    .proceso-lista2 li{
        width: 90%;
    }
    /* =======Primera Seccion======= */

    .one{
        padding: 0 2rem;
    }
    .frase-bienvenida{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .frase-bienvenida h1{ 
        font-size: 1.5rem;
        width: 80%;
        font-weight: 600;
    }

    /* ==========Ciclo Embudo Section======= */

    .izq-procesos h1{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .proceso-lista h1{
        font-size: 2rem;
    }

    .proceso-lista-1-testimoniales {
        width: 100% !important;
    }


    /* ============Titulo Negocio Digital=========== */
    .titulo-negocio-digital{
        padding: 0;
    }

    .peor-escenario{
        padding: 0 4rem;
        flex-direction: column;
    }

    .peor-escenario div{
        width: 100%;
    }

    .peor-escenario h1{
        font-size: 3rem;  
    }

    .peor-escenario img{
        margin-top: 5vh;
        width: 90%;
    }


    .revolucionar-tu-negocio{
        padding: 0 4rem;
        flex-direction: column;
    }

    .revolucionar-tu-negocio div{
        width: 100%;
    }

    .revolucionar-tu-negocio h1{
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 5vh;
    }

    .textos-revolucionar{
        flex-direction: column;
    }
    
    .frase-around-grabriel{
        margin-bottom: 10vh;
    }

    .formula-marketing{
        padding: 0 4rem;
        margin-top: 10vh;
        flex-direction: column;
    }

    .formula-marketing div{
        width: 100%;
        padding: 0;
    }

    .formula-marketing h1{
        font-size: 2.5rem;
    }
    
    .container-frase-marketing div{
        width: 100%;
    }

    /* =======Preguntas Marketing====== */

    .preguntas-marketing{
        padding: 0 !important;
        margin-top: 10vh;
        flex-direction: column;
    }

    .preguntas-marketing ul{
        padding: 0;
    }
    /* ======Seccion Nada Sera Igual==== */

    .nada-sera-igual{
        padding: 0 4rem;
        flex-direction: column;
    }
    .nada-sera-igual p{
        padding: 0;
    }

    .nada-sera-igual h1{
        width: 100%;
        font-size: 2.5rem;
        margin-bottom: 5vh;
    }
    /* ==============Seccion One================= */
    .one-creado{
        font-size: 2rem !important;
    }

    .one-boton-contenedor{
        justify-content: center;
    }
    /* ========Seccion One video =======[] */

    .one-video{
        padding: 0 2rem;
    }
    

    .one-video-contenedor{
        flex-direction: column;
        width: 100%;
    }

    .one-video-iframe{
            width: 100%;
    }
    .one-video-iframe iframe{
        width:  100%;
    }

    .info-video{
        width: 100%;
        padding: 0;
    }

    

    .info-video h1{
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
    }

    .one-boton-contenedor2{
        margin: 0;
    }
    /* ============Segunda Seccion ============== */


    .two{
        margin-top: 10vh;
        width: 100%;
        padding: 0 2rem;
        flex-direction: column;
    }
    .two-galeria{
        padding: 0;
        margin-top: 2rem;
        flex-direction: column;
    }

   
    .two-marcas{
        flex-direction: column;
    }
    .two-contenedor-titulo{
        padding: 0;
    }

    .two-contenedor-titulo h1{
        text-align: center;
        width: 100%;
        font-size: 2.4rem;
    }

    .two-varias-marcas{
        flex-direction: column;
    }

    .columna-50{
        width: 100%;
    }


    /* =======Seccion 2======= */
    .two-marcas-iconos{
        flex-direction: column;
        margin-top: 7vh;
    }

    .imagen-galeria{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 2.5vh;
    }

    .marca-icono-4{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }
   
    .icono-contenedor2{
        width: 100%;
        margin-left: 0;
    }

    .icono-contenedor2 img{
        width: 80%;
    }

    .icono-contenedor{
        width: 100%;
        margin-top: 5vh;
    }

    .icono-contenedor img{
        width: 30%;
    }

   
    /* ======Seccion 3========= */

    .three{
        padding: 0 2rem !important;
        flex-direction: column;
    }

    .row-three{
        width: 100%;
    }

    .row-three-texto p{
        font-size: 1.5rem;
        width: 60%;
    }

    .three-segundo-contenedor{
        flex-direction: column;
    }

    .three-necesidad{
        width: 100%;
    }

    .three-palabras-div{
        width: 100%;
        margin-top: 5vh;
    }

    .three-div-h1{
        font-size: 0.6rem;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .three-div-h1 h1{
        font-size: 1rem;
        letter-spacing: 6px;
        margin-top: 0.9rem;
    }

    .three-footer{
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .three-footer img{
        width: 120%;
        content: url(../img/recursos/necesidad-footer-2.png);

    }
    /* ========Seccion four======== */

    .four{
        padding: 0 2rem !important;
    }
    .four-titulo{
        margin-top: 5vh;
        padding: 0;
    }
    .four-carousel-imagenes{
        flex-direction: column;
    }
    
    .four-contenedor-imagenes{
        width: 100%;
        margin-top: 5vh;
    }

    .four-contenedor-imagenes img{
        width: 70%;
    }

    .four-frase1{
        width: 100%;
    }

    .four-frase1 h1{
        font-size: 2.3rem;
        text-align: center;
    }

    .four-frase2{
        flex-direction: column;
    }

    .four-leyendo{
        margin-top: 5vh;
    }
    .four-leyendo h1{
        font-size: 2rem;
    }
    .four-leyendo2 h1{
        font-size: 2rem;
    }
    .four-leyendo2{
        margin-top: 5vh;
    }


    .four-frase4{
        width: 100%;
        flex-direction: column;
    }

    .four-nosotros{
        margin-top: 5vh;
        font-size: 1.5rem !important;
        padding: 1.2rem;
    }
    /* ========Seccion 5  ======== */

    .five{
        padding: 0 2rem !important;
        margin-top: 0;
        flex-direction: column;
    }

    .five-der{
        width: 100%;
    }
    
    .five-frase1{
        width: 100%;
    }

    .five-frase1 h1{
        font-size: 2.7rem;
    }

    .five-frase2{
        flex-direction: column;
    }

    .five-frase-marketeros{
        margin-top: 5vh;
        font-size: 1.5rem;
    }


    .five-frase3{
        margin-top: 5vh;
        width: 100%;
    }

    .five-frase3 p{
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
    }

    .frase4 h1{

        font-size: 2.5rem;
    }


    /* ======Formulario======= */
    .formulario-section{
        padding: 0 2rem !important;
        flex-direction: column;
        margin-top: 10vh;
    }

    .tituloFormulario h1{
        font-size: 2.4rem;  
        margin-top: 1rem;
        text-align: center;
    }

    .tituloFormulario{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-formulario{
        flex-direction: column  ;
    }

    .imagen-bienvenida img{
        width: 100%;
        top: 1vh;
    }

    .contenedor-padre-formulario{
        flex-direction: column;
    }    


    /* ========Seccion 6 ======= */

    
    .six{
        padding: 0 2rem !important;
        margin-top: 9vh;
    }

    .six-frase-principal h1{
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-top: 5vh;
    }

    .six-frase2{
        flex-direction: column;
    }

    .six-frase-necesitamos{
        width: 100%;
    }
    .six-frase-necesitamos h1{
        font-size: 1.2rem;
        text-align: left;
    }


    .six-traje{
        flex-direction: column;
    }

    .six-traje-texto{
        width: 100%;
    }

    .six-traje-frase{
        width: 100%;
    }

    .six-traje-icono{
        margin-top: 5vh;
    }

    .six-traje-icono img{
        width: 30%;
    }

    .six-traje-frase2{
        width: 100%;
        margin-bottom: 5vh;
    }


    /* =======Seven======= */

    .seven{
        padding: 0 2rem !important;
        flex-direction: column;
        margin-top: 10vh;
    }

    .elemento2{
        display: none;
    }
    .seven-aproach{
        display: none !important;
    }
    
    .seven-texto{
        width: 100%;
    }

    .numeros-ventas{
        padding: 1rem;
        margin-bottom: 5vh;
    }


    .titulo-varias-marcas {
        padding: 0;
        margin: 0;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .titulo-varias-marcas h1{
        padding: 1rem;
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
    }

 
    .marca-icono-1{
        width: 30%;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .marcas-icono-3{
        width: 80%;
        margin: 0;
        margin-bottom: 2rem;
    }
    .marca-icono-2{
        width: 100%;
        margin-bottom: 2rem;}

        /* =======Eight======== */


        .eight{
            padding: 0 2rem !important;
            flex-direction: column;
            margin-top: 10vh;
        }
        
        .eight-titulo h1{
            width: 100% !important;
            font-size: 2.4rem;
        }
        
        .eight-titulo{
            width: 100%;
            margin-top: 5vh;
        }
        
}




