@media only screen and (max-width: 600px) {
    
    /* =======Seccion Header======= */

    .letters{ 
        font-size: 3vw;
    }

    /* =======Primera Seccion======= */
    .fraseBienvenida{ 
        font-size: 1.0rem;
    }

    .one{
        padding: 0 2rem;
    }

    .focoInicioimg{
        width: 10% !important;
    }

  


    /* ======Seccion 2 ======= */


    .seccion2{
        flex-direction: column;
        padding:  0 2rem;
    }

    .seccion2-row1{
        width: 100%;
    }

    .seccion2-row2{
        width: 100%;
    }

    .seccion2-right{
        padding: 0 1rem;
    }
    

    .boton-contactanos{
        width: 100%;
    }


    /* =======Seccion3====== */


    .contenedorPadre3{
        flex-direction: column;
    }

    .fraseSeguros{
        width: 100%;
    }
    
    .contenedor-imagen{
        width: 80%;
    }

    .frase-autor H1{
     font-size: 1.2rem;
    }

     /* ======Seccion4 ====== */


     .four{
        padding: 0 2rem;
     }

     .four-phase{
        width: 100%;
    }
     .four-phase h1{
        font-size: 2rem;
        text-align: center;
     }

     .contenedor-sencilla-razon{
        flex-direction: column;
     }

     .contenedor-sencilla-razon div{
        width: 100%;
        align-items: center;
        justify-content: center;
     }

     .contenedor-sencilla-razon img{
        width: 100%;
     }

     /* ======Seccion 5====== */

    .contenedorFive{
        padding: 0 2rem;
        padding-top: 1rem;
    }

    .aumenta-tus-ventas-titulo{
        width: 100%;
        text-align: right;
    }

    .aumenta-tus-ventas-frase{
        width: 100%;
    }

    .frase-aumenta-tus-ventas h1{
        font-size: 4rem;
    }

    .aumenta-palabra{
        height: 10vh;
    }

    /* ======Seccion 6====== */

    .six{
        padding: 0 2rem;
    }

    .contenedor-title-six{
        flex-direction: column;
    }
    .contenedor-title-six h1{
        font-size: 1.1rem;
    }
    .parrafo-six{
        font-size: 0.7rem !important;
    }

    .contenedor-frases-six{
        line-height: 2;
    }

    .contenedor-informacion-six{
        justify-content: center;
        align-items: center;
    }
    .texto-analisis, .palabras-clave{
        width: 45%;
        text-align: start;
    }

    .seven{
        padding: 0 2rem;
    }
    .titulo-seven{
        width: 100%;
    }
    .titulo-seven h1{
        font-size: 1.5rem;
    }
    
    .portada-seven img{
        width: 90%;
    }

    .texto-seven{
        flex-direction: row;
        width: 100%;
        padding: 0 2rem;
    }
    .texto-seven p{
        width: 100%;
        text-align: center;
    }
    
    .instrucciones-seven{
        width: 100%;
    }
    .instruccion-contenedor{
        width: 100%;
    }

    .seven{
        background-image: none;
    }


}


