@font-face {
    font-family: 'ClashDisplay';
    src: url('../font/ClashDisplay-Variable.eot'); /* IE9 Compat Modes */
    src: url('../font/ClashDisplay-Variable.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/ClashDisplay-Variable.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/ClashDisplay-Variable.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/ClashDisplay-Variable.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/ClashDisplay-Variable.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* Only for servers */
/* @font-face {
    font-family: 'ClashDisplay';
    src: url('../font/ClashDisplay-Variable.woff2') format('woff2');
} */


:root{
    --first-color: #ff66c4;
    --seconday-color: #00bf63;
    --third-color: #0390a7;
    --primary-letter: #000;
    --secondary-letter: #fff;
    --font-familiy-primary: 'ClashDisplay';
    --font-family-secondary: 'Days One';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

html,body{
    font-family: Montserrat;
    height: auto;
    overflow-y:auto;
    overflow-x: hidden;
}
h1{
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02rem;
}


/* 
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
} */

.parrafos{
    color: #fff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#frase{
    display: flex;
    justify-content: space-around;
}

#frase span{
    opacity: 0;
    transform: translateX(100px
    );
}

.logo{
    position: fixed;
    top: 0; 
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
    background: #000;
    border-radius: 100%;
    z-index: 10000;
}

.header{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 100%;
    z-index: 2;
    
}

.letters{
    flex: 1;
    display: flex;
    text-transform: uppercase;  
    font-family: 'ClashDisplay';
}

.letters > div{
    flex: 1; 
    font-size: 12vw;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.letters img{
    height: auto;
}
.website-content{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow-x: hidden !important;
}

.img-holder{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
    transform: rotate(30deg);
}

.img-holder img{
    position: relative;
    transform: scale(2);
}

.content-holder{
    position: relative;
    top: -5px; 
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
}

.row{
    margin: 2em 1em;
}

.row-container{
    width: 100%;
}
.img{
    width: 200px;
    height: 275px;
}

.row:nth-child(2) .img{
    position: relative;
    left: 50%;
}

.row:nth-child(3) .img{
    position: relative;
    left: 15%;
}

.row:nth-child(4) .img{
    position: relative;
    left: 70%;
}

.row:nth-child(6) p{
    position: relative;
    left:30%; 
    margin: 4em 0; 
}
.span-six{
    background-color: var(--first-color);
    display: inline-block;
}

.span-six4{
    background-color: var(--third-color);
    display: inline-block;
}

.span-six2{
    background-color: var(--secondary-letter);
    color: #000;
    font-weight: 500;
    border-radius: 2.3rem;
    padding: 0.2rem;
    display: inline-block;

}

.span-six3{
    background: transparent;
    border: 4px solid var(--third-color);
    display: inline-block;

}

.span-six5{
    background: transparent;
    border: 4px solid var(--first-color);
    display: inline-block;

}

/* ======Contenido Desplazable======= */
section{
    height: 80vh;
    display: flex;
    justify-content: center;
    /* scroll-snap-align: start; */
    padding: 0 8rem;
}

.one{
    background-color: rgb(36,164,138,);
    margin-top: 2em;
    height: auto;
    padding: 2rem 8rem;
    overflow-x: hidden;
}
.three{
    background-color: rgb(0, 0, 0);
    padding: 0 !important;
    width: 100%;
        padding: 0 8rem;
}
.four{
    margin-top: 1.3rem;
    background-color:rgb(255, 255, 255);
    align-items: normal;
    justify-content: normal;
    flex-direction: column;
    height: auto;
    padding-top: 4rem;
    border-radius: 4rem 4rem 0 0;
}
.five{
    background-color: var(--primary-letter);
    /* background-color:rgb(255, 255, 255); */
    height: auto !important;

} 

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


/* =====Seccion 1====== */

.contenedorPadre{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-family: var(--font-familiy-primary);
}

.contenedor-padre{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-family: var(--font-familiy-primary);
    flex-direction: column;
}



.frase-bienvenida h1{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: left;
    width: 100% ;
    text-align: center;
}
 
.one-creado{
    background: linear-gradient(140deg,#E77A66,#C62672
,#4185F4
);
  -webkit-background-clip: text;
  color: transparent !important;  
  font-size: 3.6rem !important;
  margin-top: 2.4rem;
}

.one-boton-contenedor{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: right;
    align-items: center;
}

.one-boton-contenedor2{
    width: 100%;
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
}

.one-boton{
    padding: 1rem 2.4rem;
    background: #000;
    border: 1px solid #fff;
}

.one-boton2{
    padding: 1rem 2.4rem;
    background: #c62672;
    border: 1px solid #fff;
}
.one-boton a{
    text-decoration: none;
    color: #fff;
}

.one-boton2 a{
    text-decoration: none;
    color: #fff;
}

/* =========Section One Video ======== */
.one-video{
    height: auto;
    margin-top: 10vh;
    margin-bottom:  10vh;
    display: flex;
    flex-direction: column;
}


.one-video-contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #c62672;
}

.one-video-iframe{
    width: 60%;
}
.info-video{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.info-video h1{
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.imagen-bienvenida{
    width: 100%;
    display: flex;
    justify-content: end;
}
.imagen-bienvenida img{
    width: 50%;
    position: relative;
    top: -10vh;
    left: 20vh;
}

.imagen-bienvenida iframe{
    margin-top: 4rem;
}




/* ======Seccion 2======  */
  
.two{
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    overflow-x: hidden;

}

.columna-50{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.two-contenedor-titulo{
    width: 100%;
    padding: 2rem;
    border-radius: 0 1rem;
    font-family: var(--font-familiy-primary);
    font-weight: medium;

}

.two-contenedor-titulo h1{
    padding: 1.2rem;
    font-size: 4rem;
    text-align: left;
    font-weight: 600;
}

.two-marcas-iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.icono-contenedor{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono-contenedor2{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}
.icono-contenedor img{
   width: 50%; 
}

.icono-contenedor2 img{
    width: 100%;
    height: auto;
}
/* ======Seccion 3====== */

.three{
    padding: 2rem 6rem !important;
        overflow-x: hidden;

}

.row-three{
    width: 100%;
    margin-top: 10vh;
}


.row-three h1{
    font-size: 2.5rem;
    text-align: center;
}

.row-three-texto{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 7vh;
}

.row-three-texto p{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;
    color: #fff;
    width: 50%;
}

.three-necesidad{
    width: 50%;
}
.three-necesidad h1{
    font-size: 1.9rem;
}

.three-segundo-contenedor{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.three-palabras-div{
    display: flex;
    flex-direction: column;
}   

.three-palabras-div h1{
    font-size: 1.2rem;
    font-family: var(--font-family-secondary);
    letter-spacing: 10px;
}

.three-div-h1{
    width: 100%;
    display: flex;
    align-items:start;
}

/* =============SECCION 4 ================ */

.four{
    display: flex;
    justify-content: center;
    padding: 2rem 8rem;
    overflow-x: hidden;

}
.four-titulo{
    width: 60%;
    display: flex;  
    justify-content: start;
    padding: 0rem 4rem;
    border-bottom: 1px solid #000;
}

.four-titulo h1{
    font-size: 2.5rem;
    color: #000;
    font-family: var(--font-familiy-primary);
    font-weight: 500;
}

.contenedor-padre-four{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

.four-carousel-imagenes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.four-contenedor-imagenes{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-carousel{
    background-color: #000;
    color: #fff;
    padding: 1.8rem;
    border-radius: 2rem;
}

.texto-carousel p{
    text-align: center;
    font-weight: bold;
}


.four-frase1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    flex-direction: column;

}


.four-nosotros{
    text-align: left !important;
}
.four-frase1 h1{
    font-size: 4.5rem;
    font-weight: 700;
    color: #000;
}

.four-frase2{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.four-leyendo{
    margin-top: 10vh;
    display: flex;
    align-items: start;
}


.four-leyendo2{
    margin-top: 10vh;
    display: flex;
    align-items: end;
    margin-top: 30vh;
}

.four-leyendo2 h1{
    color: var(--primary-letter);
    font-size: 3rem;
    font-weight: 600;
}

.four-leyendo h1{
    color: var(--first-color);
    font-weight: 600;
    font-size: 3rem;
}

.four-frase3{
    margin-top: 10vh;
    width: 100%;
}


.four-frase3 h1{
    font-size: 3rem;
    color: #000;
    text-align: center;
    font-weight: bold;
}


.four-frase4{
    display: flex;
    flex-direction: row;
    margin-top: 16vh;
    margin-bottom: 16vh;
}

.four-frase4 h1{
    color: #000;    
    font-size: 3rem;
    font-weight: bold;
}


/* ================Seccion 5 ================ */

.five{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    padding: 1rem 8rem !important;
}
.five-frase1{
    width: 100%;
}

.five-frase1 h1{
    font-size: 4.0rem;
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-familiy-primary);
}

.five-frase2{
    display: flex;
    flex-direction: row;
}

.five-frase-marketeros{
    margin-left: 10vh;
    font-size: 2.5rem;
    font-weight: 600;
}


.five-frase3{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}
.five-frase2-contenedor-imagen{
    display: flex;
    justify-content: center;

}
.five-frase2-contenedor-imagen img{
    width: 60%;
    height: auto !important;
}
.texto-frase2-nube p{
    font-size: 2rem;
    color: #fff;
    margin-top: 1.2rem;
}

.five-frase3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
}
.five-frase3 p{
    color: #fff;
    width: 60%;
    font-size: 1.5rem;
}

.frase4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.frase4 h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    background: linear-gradient(140deg,#E77A66,#C62672
    ,#4185F4
    );
      -webkit-background-clip: text;
      color: transparent;  
    
}



/* ======Seccion6======= */

.six{
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10vh;
}


.six-frase-principal h1{
    width: 80%;
    font-size: 3.5rem;    
    color: #000;
    font-weight: bold;
}

.six-instagram{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10vh;
}

.six-instagram p{
    font-size: 1.2rem;
    font-weight: 600;
}

.six-imagen img{
    border-radius: 0 40px 0 40px;
}
.six-frase2{
    display: flex;
    margin-top: 6vh;
    flex-direction: row;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;
}
.six-frase-necesitamos{
    width: 60%;
    border-right: 1.2px solid #000;
}
.six-frase-necesitamos h1{
    color: #000;
    font-size: 2.1rem;
    font-weight: 600;
    font-family: var(--font-familiy-primary );
}

.six-mano{
    width: 40%;
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.six-mano img{
    width: 40%;
}

.six-traje{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.six-frase3{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.six-traje-texto{
    width: 40%;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: var(--font-familiy-primary);
    border-right:1px solid #000;
}

.six-traje-frase{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.six-traje-icono{
    width: 50%;
}

.six-traje-icono img{
    width: 15%;
}

.six-traje-frase2{
    width: 100%;
}

.six-traje-frase2 p{
    font-family: var(--font-familiy-primary);
    margin-top: 5vh;
    font-size: 1.3rem;
}


/* ==========Seccion 7=========== */

.seven{
    padding: 2rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.seven-texto{
    width: 70%;
}

.seven-texto h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--third-color)
}

.seven-texto p{
    color: #fff;
}

.inbound-seven{
    margin-top: 5vh;
    font-size: 1.8rem;
    font-weight: 600;
}

.trafico-seven{
    margin-top: 5vh;
    font-size: 1.4rem;

}

.genera-seven{
    margin-top: 5vh;
    font-size: 1.8rem;
    font-weight: 600;
}

.numero-seven{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.numeros-ventas{
    padding: 4rem;
}
.numeros-ventas{
    font-size: 2rem;
}

.seven-marketing{
    font-size: 1.2rem;
}
/* ======Formulario====== */
.formulario-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9000000;
    background-color: #fff;
    padding-top: 2rem;
    height: auto;
}
.formulario{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Negro transparente */
    backdrop-filter: blur(10px); /* Añade el efecto de cristal */
    border-radius: 4px;
    color: #fff;
}
.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario .campo {
    margin-bottom: 20px;
}

.formulario .campo label {
    display: block;
    margin-bottom: 10px;
}

.formulario .campo input,
.formulario .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formulario .campo.enviar {
    text-align: right;
}

.formulario .campo.enviar input {
    background-color: #fff;
    color: #000;
    cursor: pointer;

}

.contenedor-formulario{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 9000000;
}

.tituloFormulario{
    display: flex;
    width: 100%;
}

.tituloFormulario h1{
    font-family: var(--font-familiy-primary);
    color: #000;
}

.contenedor-padre-formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor-padre-formulario img{
    width: 100%;
    
}

/* ======Redes Sociales====== */

.botton-whatsapp{
    color: #000;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.botton-whatsapp p{
    color: #000;
    font-size: 1.2rem;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.redes-sociales a {
    color: #000; /* Cambia esto al color que desees */
    font-size: 24px; /* Cambia esto al tamaño que desees */
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #007BFF; /* Cambia esto al color que desees cuando se pasa el mouse por encima */
}


/* ======Menu====== */
.menu-lateral {
    height: 100%;
    width: 0; /* Cambia esto a 'auto' */
    position: fixed;
    z-index: 200000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
@media (max-width: 768px) {
    .menu-lateral {
      width: 0%; /* Hace que el menú lateral ocupe todo el ancho de la pantalla */
      height: 100%; /* Hace que el menú lateral ocupe toda la altura de la pantalla */
    }
  }
.hamburguesa-boton{
    color: #fff;
}

.menu-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--third-color);
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover {
    color: #f1f1f1;
}

.boton-menu {
    position: fixed;
    left: 1.2rem;
    top: 20px;
    font-size: 30px;
    color: var(--third-color);
    background: none;
    border: none;
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160vh;
    top: -20%;
    left: 160%; /* Mueve el menú desplegable a la derecha */
    z-index: 1;
    background-color: #0000; /* Añade un color de fondo */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Añade una sombra */
    padding: 12px 16px; /* Añade un poco de espaciado */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #fff; /* Cambia el color del texto */
  }

  @media (max-width: 768px) {
    .dropdown-content {
      position: static; /* Hace que el menú desplegable se muestre debajo del elemento .dropdown */
      width: 100%; /* Hace que el menú desplegable ocupe todo el ancho del menú lateral */
    }
  }
  
  .dropdown-content a {
    color: #ffff; /* Cambia el color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Hace que los enlaces se muestren como bloques */
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1; /* Cambia el color de fondo de los enlaces al pasar el cursor sobre ellos */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* =========Boton de Whatsapp======== */


  .three-div-h1 h1 {
    visibility: hidden;
  }
  .whatsapp-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 200000;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
  }
  
  .whatsapp-button i {
    font-size: 2em;
  }

  .numero-ventas{
    font-size: 5rem;
    color: var(--first-color);
  }

  