@font-face {
    font-family: 'ClashDisplay';
    src: url('../font/ClashDisplay-Variable.ttf') format('truetype');
}

:root{
    --first-color: #ff66c4;
    --seconday-color: #00bf63;
    --third-color: #0390a7;
    --primary-letter: #000;
    --secondary-letter: #fff;
    --font-familiy-primary: 'ClashDisplay';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}

html,body{
    font-family: Montserrat;
    height: auto;
    overflow-y:auto;
}
h1{
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02rem;
}


/* 
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
} */

.parrafos{
    color: #fff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#frase{
    display: flex;
    justify-content: space-around;
}

#frase span{
    opacity: 0;
    transform: translateX(100px
    );
}

.logo{
    position: fixed;
    top: 0; 
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
    background: #000;
    border-radius: 100%;
    z-index: 10000;
}

.header{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 100%;
    z-index: 2;

}

.letters{
    flex: 1;
    display: flex;
    text-transform: uppercase;  
    font-family: 'ClashDisplay';
}

.letters > div{
    flex: 1; 
    font-size: 12vw;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.letters img{
    height: auto;
}
.website-content{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
}

.img-holder{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
    transform: rotate(30deg);
}

.img-holder img{
    position: relative;
    transform: scale(2);
}

.content-holder{
    position: relative;
    top: -5px; 
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
}

.row{
    margin: 2em 1em;
}

.row-container{
    width: 100%;
}
.img{
    width: 200px;
    height: 275px;
}

.row:nth-child(2) .img{
    position: relative;
    left: 50%;
}

.row:nth-child(3) .img{
    position: relative;
    left: 15%;
}

.row:nth-child(4) .img{
    position: relative;
    left: 70%;
}

.row:nth-child(6) p{
    position: relative;
    left:30%; 
    margin: 4em 0; 
}

/* ======Contenido Desplazable======= */
section{
    height: 80vh;
    display: flex;
    justify-content: center;
    /* scroll-snap-align: start; */
    padding: 0 8rem;
}

.one{
    background-color: rgb(36,164,138,);
    margin-top: 2em;
    height: auto;
}
.three{
    background-color: rgb(255, 255, 255);
    padding: 0 !important;
    width: 100%;
        padding: 0 8rem;
}
.four{
    margin-top: 1.3rem;
    background-color:rgb(255, 255, 255);
    align-items: normal;
    justify-content: normal;
    flex-direction: column;
    height: auto;
    padding-top: 4rem;
    border-radius: 4rem 4rem 0 0;
}
.five{
    background-color: var(--primary-letter);
    /* background-color:rgb(255, 255, 255); */
    height: auto !important;

} 

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


/* =====Seccion 1====== */

.contenedorPadre{
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-family: var(--font-familiy-primary);
}


.one{
    padding: 2rem 4rem;
}
.frase-bienvenida h1{
    font-size: 4.3rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
    width: 85% ;
}

.frase-bienvenida span{
    background: linear-gradient(140deg,#E77A66,#C62672
,#4185F4
);
  -webkit-background-clip: text;
  color: transparent;  

}




/* ======Seccion 2====== */
.seccion2{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    padding-bottom: 0;
    justify-content: space-between;
}

.seccion2-row1{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seccion2-row2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.seccion2-recuadros{
    color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion2-sub-recuadros{
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.seccion2-border{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-width: 0 2px 2px 0;
}

.seccion2-border2{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-width: 0px 2px 2px 0;
}

.seccion2-border3{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-width: 0px 2px 0px 0;
}

.boton-contactanos{
    background: linear-gradient(45deg, #77a1d3, #79cbca, #e684ae);
    background-size: 600% 600%;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: background 300ms ease-in-out;
    width: 30%;
    margin-top: 1.1rem; 
    border-radius: 0.5rem;
}

.boton-contactanos a{
    color: white;
    text-decoration: none;
}

.boton-contactanos:hover{
    background-position: 100% 0;
}
.seccion2-sub-recuadros img{
    width: 50%;
    height: auto;
}

.seccion2-right{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.texturaEscritura{
    color: #fff !important;
}


.contenedor-imagen{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.frase-autor{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
}


.frase-autor h1{
    width: 100%;
    font-size: 2rem;
    color: #000;
}

/* ======Seccion 3====== */

.contenedorPadre3{
    display: flex;
    height: 100%;
    margin-top: 3rem;
}
.fraseSeguros{
    width: 70%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}



.iframeVideo{
    width: 100%;
}
/* ======Seccion 4 ======== */

.four h1{
    padding: 1rem;
    color: #000;
    font-family: 'ClashDisplay';
    border-bottom: 1px solid  #000;

}

.segundo-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenedor-sencilla-razon{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor-sencilla-razon img{
    width: 70%;
}
.contenedor-sencilla-razon p    
{
    margin-bottom: 4rem;}


.contenedor-sencilla-razon span{
    position: relative
    color #000;
    overflow: hidden;
}

.contenedor-sencilla-razon div{
    width: 50%;
}

.hilo-imagen{
    width: 20% !important;
    height: auto;
}



/* ======Seccion5====== */

.contenedorFive{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    padding-top: 5rem;
}

.aumenta-tus-ventas-titulo{
    width: 60%;
    color: var(--third-color); 
    font-weight: 500;
}
.aumenta-tus-ventas-frase{
    width: 50%;
    margin-top: 1rem;
}



.frase-aumenta-tus-ventas{
    width: 100%;
    margin-top:3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;

}

.frase-aumenta-tus-ventas h1{
    color: #000;
    font-family: 'ClashDisplay';
    font-size: 13rem;
}

.aumenta-palabra{
    height: 25vh;
}


/* ======Seccion6======= */

.six{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
}
.contenedor-titulo-six{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.contenedor-title-six{
    width: 44%;
}
.contenedor-title-six div{
    display: flex;
    justify-items: center;
}

.contenedor-titulo-six h1{
    color: #000;
    font-family: 'ClashDisplay';
    font-size: 1.2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 1.8rem;
    text-align: center;
}

.contenedor-titulo-six p{
    color: #fff;
    font-weight:700;
    font-size: 0.8rem;
    padding: 1rem;
    background: var(--third-color);
    border-radius: 1.8rem;
}

.contenedor-parrafo-six{
    width: 55%;
}

.contenedor-portada-six{
    margin-top: 2rem;
}
.contenedor-portada-six img{
    height: 25rem;
    border-radius: 2rem;
}   

.contenedor-frases-six{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    line-height: 2;
}

.span-six{
    background-color: var(--first-color);
    display: inline-block;
}

.span-six2{
    background-color: var(--secondary-letter);
    color: #000;
    font-weight: 500;
    border-radius: 2.3rem;
    padding: 0.2rem;
    display: inline-block;

}

.span-six3{
    background: transparent;
    border: 4px solid var(--third-color);
    display: inline-block;

}

.contenedor-informacion-six{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.texto-analisis ,.palabras-clave{
    width: 30%;
    margin-bottom: 2rem;
}

.contenedor-informacion-six p{
    color: #fff;
    font-size: 0.8rem;
}

/* ======Seccion 7===== */

.titulo-seven h1{
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-familiy-primary);
}

.seven{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: auto;
    align-items: center;
    background-image: url(../img/portadas/fase2.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: left;
}

.titulo-seven{
    width: 80%;
}

.titulo-seven h1{
    font-size: 3.2rem;
    font-weight: 600;
}
.portada-seven{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.portada-seven img{
    width: 50%;
    border-radius: 2rem 0 2rem 0;
}

.texto-seven p{
    color: #fff;
    text-align: right;
    width: 50%;
    line-height: 2;
}

.texto-seven{
    display: flex;
    width: 100%;
    align-items: end;
    flex-direction: column;
    padding: 2rem 5rem;
}

.instrucciones-seven{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruccion-contenedor{
    color: #fff;
    width: 40%;
    margin-top: 0.8rem;
    line-height: 1.6;
}

.eight{
    height: auto;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.header-contenedor{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.contenedor-fase3{
    width: 60%;
}

.contenedor-fase3 h1{
    font-weight: bold;
    font-family: var(--font-familiy-primary);
    text-align: right;
    font-size: 1.6rem;
}

.imagen-textos{
    width: 40%;
    height: 7rem;
}

.imagen-textos img{
    border-radius: 2rem;
}
.fase-3-titulo{
    color: #Fff;
    font-size: 1.5rem;
}

.icono-contenedor{
    display: flex;
    width: 15%;
    align-items: start;}
.icono-contenedor img{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.header-textos-contenedor{
    color: #fff;
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.header-textos-contenedor div{
    width: 30%;
}

.header-textos-contenedor p{
    font-size: 0.8rem;
}

.contenedorcompleto{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

.contendor-izq-eight{
    width: 60%;
}
.contenedor-right-eight{
    width: 30%;
}

.contenedor-imagen-eight img{
    width: 100%;
}



.contenedor-imagen-eight{
    width: 100%;
}

.contenedor-imagen-eight img{
    border-radius: 2rem;
}

.subcontenedor-imagenes{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.4rem;
}

.subcontenedor-imagenes h1{
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.contenedor-up h1{
    font-size: 1.2rem;
    font-weight: bold;
}

.contenedor-up p{
    margin-top: 1.2rem;
    font-size: 0.8rem;
    color: #fff;
}
.mvp{
    width: 40%;
    display: flex;
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    flex-direction: column;
}
.mvp p{
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.producto-completo{
    width: 40%;
    padding: 2rem;
    background: #fff;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
}

.producto-completo p{
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.contenedor-palabra{
    background-color: var(--first-color);
    padding: 2rem;
    margin-top: 1.2rem;
    border-radius: 1.2rem;
    justify-content: center;
    align-items: center;
}

.contenedor-palabra p{
    color: #fff;
    
}


.cual-elegir p{
    color: #fff;
    font-weight: 500;
    font-family: var(--font-familiy-primary);
    margin-top: 1.2rem;
}

.cual-elegir-boton{
    width: 45% !important;
}


/* ======Automatiza Seccion=======l */


.automatiza-seccion{
    background: var(--secondary-letter);
    color: #fff;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 4rem;
}

.frase-automatiza-little{
    width: 50%;
    display: flex;
}

.imagen-embudo{
    width: 100%;
}
.embudo-automatiza{
    width:  14%;
}

.letter-automatiza {
text-align: left;
font-weight: 600;
}

.frase-partes-automatiza div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* ======Formulario====== */
.formulario-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.formulario{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario .campo {
    margin-bottom: 20px;
}

.formulario .campo label {
    display: block;
    margin-bottom: 10px;
}

.formulario .campo input,
.formulario .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formulario .campo.enviar {
    text-align: right;
}

.formulario .campo.enviar input {
    background-color: #007BFF;
    color: #000;
    cursor: pointer;
}

.contenedor-formulario{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tituloFormulario{
    display: flex;
    width: 100%;
}

.tituloFormulario h1{
    font-family: var(--font-familiy-primary);
}

/* ======Redes Sociales====== */

.botton-whatsapp{
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.botton-whatsapp p{
    color: #fff;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.redes-sociales a {
    color: #FFF; /* Cambia esto al color que desees */
    font-size: 24px; /* Cambia esto al tamaño que desees */
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #007BFF; /* Cambia esto al color que desees cuando se pasa el mouse por encima */
}


/* ======Menu====== */
.menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20000000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.hamburguesa-boton{
    color: #fff;
}

.menu-lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--third-color);
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover {
    color: #f1f1f1;
}

.boton-menu {
    position: fixed;
    left: 1.2rem;
    bottom: 20px;
    font-size: 30px;
    color: var(--third-color);
    background: none;
    border: none;
    cursor: pointer;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}