@font-face {
    font-family: 'ClashDisplay';
    src: url('../font/ClashDisplay-Variable.eot'); /* IE9 Compat Modes */
    src: url('../font/ClashDisplay-Variable.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/ClashDisplay-Variable.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/ClashDisplay-Variable.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/ClashDisplay-Variable.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/ClashDisplay-Variable.svg#svgFontName') format('svg'); /* Legacy iOS */
}



:root{
    --first-color: #ff66c4;
    --seconday-color: #00bf63;
    --third-color: #0390a7;
    --primary-letter: #000;
    --secondary-letter: #fff;
    --font-familiy-primary: 'ClashDisplay';
    --font-family-secondary: 'Days One';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    display: none;
}


html,body{
    font-family: Montserrat;
    height: auto;
    overflow-y:auto;
    overflow-x: hidden;
    background: #ffffff;
}
h1{

    letter-spacing: -0.02rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-space{
    padding: 0 20vh;
}

.menu-around-the-lab{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: ROW;
    justify-content: space-between;
    background-color: #000;
}

.logo-menu{
    width: 5%;
}

.logo-menu img{
    width: 50%;
    height: auto;
}

.menu-enlaces a{
    text-decoration: none;
    color: #fff; 
}

.menu-enlaces ul{
    display: flex; 
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
}

.website-container-content{
    padding: 0 20vh;
}

/* =======PORTADA======= */

.titulo-content h1{
    margin-top: 5vh;
    font-size: 3.2rem;
    width: 50%;
}

.content-portada{
    margin-top: 6vh;
}

.informacion-content{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #000;
    padding-bottom: 2rem;
}

.contenido-rey{
    margin-top: 2vh;
    width: 50%;
    padding: 2rem;
    border-right: 2px solid #000;
}

.contenido-rey h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: var(--font-familiy-primary);
}


.menu-lista-informacion{
    width: 50%;
    padding: 2rem;
}

.menu-lista-informacion ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-self: center;
}

.menu-lista-informacion li{
    font-size: 1.2rem;
    padding: 0.4rem;
    margin-left: 3rem;
    margin-top: 1rem; 
}

/* =======Segunda Seccion====== */
 
.imagen-marca-content{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 4vh;
    border-bottom: 2px solid #000;
}

.imagen-marca-info{
    width: 45%;
    padding: 2rem;
    border-right: 3px solid #000;
}

.imagen-marca-info h1{
    font-size: 2.3rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: var(--font-familiy-primary);
}

.imagen-marca-imagenes{
    padding: 2rem;
    display: flex;
    flex-direction: column;
  
}

.imagen1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 5vh;
}


.imagen1 img{
    width:  80%;
}

.imagen2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.imagen2 img{
    width: 80%;
}


/* =======Seccion Texto 3===== */

.texto-3{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-bottom: 2px solid #000;
}

.texto-3 p{
    width: 50%;
}

.texto-3 img{
    width: 30%;
}

/* ======Seccion Texto-error====== */


.texto-error-4{
    display: flex;
    flex-direction: row;
}

.texto-error{
    width: 50%;
    padding: 2REM;
}

.texto-error h1{
    font-size: 1.2rem;
    font-family: var(--font-familiy-primary);
    font-weight: 500;
}

.imagen-puntos{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.imagen-puntos img{
    width: 40%;
    height: auto;
}


/* =======Metodología Seccion ===== */

.metodologia-around{
    width: 100%;
    background-color: #000;
    padding: 0 20vh;
}


.metodologia-titulo{
    display: flex;  
    flex-direction: row;
}
.metologia-titulo-container{
    width: 95%;
    margin-top: 10vh;
}

.metologia-titulo-container h1{
    color: #fff;    
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-familiy-primary);
} 
.metodologia-logo-container{
    width: 8%;
}

.metodologia-logo-container img{
    width: 100%;
    height: auto;
    padding: 1rem;
}


.contenedor-contenido-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}
 
.contenido-izq{
    width: 45%;
}

.contenido-der{
    display: flex;
    width: 45%;
    flex-direction: column;
    margin-top: 1.2vh;
}

.contenido-izq img{
    width: 80%;
}

.contenido-der h1{
    font-size: 1.8rem;
    font-family: var(--font-familiy-primary);
    font-weight: 500;
    color: #fff;
}

.contenido-der p{
    color: #fff;
    margin-top: 0.9rem;
    margin-top: 2rem;
}

.contenido-der ul{
    display: flex;
    flex-direction: column;
}

.contenido-der li{
    color: #fff;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}



/* =======Seccion 'No Olvides Tambien' ======= */

.titulo-container-no-olvides h1{
    font-size: 4rem;
    margin-top: 10vh;
    font-family: var(--font-familiy-primary);
    width:60%;
}


.portada-imagen img{
    margin-top: 5vh;
    height: 70vh;
}

.no-olvides-informacion{
    width:  100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #000;
}

.no-olvides-columna-1{
    width: 30%;   
    border-right: 1px solid #000;
}

.no-olvides-columna-1 li{
    font-size: 1.2rem;
    font-family: var(--font-familiy-primary);
    text-transform: uppercase;
}

.no-olvides-columna-1 p{
    font-family: var(--font-familiy-primary);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
}

.no-olvides-columna-1 b{
    font-weight: 600;
}

.columna-2{
    width: 40%;
}

.columna-2 p{
     text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem;
}

.columna-3{
    width: 50%;
}

.columna-3 ul{
    display: flex;
    flex-direction: column;
}

.columna-3 li{
    margin-top: 1rem;
    text-transform: uppercase;
}       

